<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Prime Portfolio Website</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="#home">HOME</a>
            </li>
            <li>
                <a href="#about">ABOUT</a>
            </li>
            <li>
                <a href="#projects">PROJECTS</a>
            </li>
        </ul>
    </header>





    <footer></footer>
    <!--SCRIPTS-->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="assets/scripts/controllers/controller.min.js"></script>
    <!--END SCRIPTS-->
</body>
</html>