

<!--&lt;!&ndash;<div class="col-md-3 col-md-offset-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="twitter">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="github">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="linkedin">&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="websitePortfolio">&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div ng-controller="AboutController">-->

    <!--<div class="quotebox">-->
    <!--<blockquote>-->
    <!--My name is Skyler DeGrote and I am a dedicated person with the passion to keep a project going until it's finished.-->
    <!--I've written and published two books while going to college full time, having graduated with cum laude, so I would also say-->
    <!--I have the ability to work on multiple projects at once and still give my full attention to each.-->
    <!--I am a hard working, detail oriented person, often going above and beyond the requirements.-->
    <!--I love collaboration and working with others, but also have the mind set to set off on my own to problem solve.-->
    <!--</blockquote>-->
    <!--</div>-->
        <!--<div class="twitter col-md-4">hello?</div>-->

        <!--&lt;!&ndash;<div class="linkedin col-md-4"><img src="{{img}}"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="github col-md-4">{{github-img}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="websitePortfolio col-md-4">{{website-img}}</div>&ndash;&gt;-->
        <!--</div>-->

<div class="quotebox">
    <blockquote>
        My name is Skyler DeGrote and I am a dedicated person with the passion to keep a project going until it's finished.
        I've written and published two books while going to college full time, having graduated with cum laude, so I would also say
        I have the ability to work on multiple projects at once and still give my full attention to each.
        I am a hard working, detail oriented person, often going above and beyond the requirements.
        I love collaboration and working with others, but also have the mind set to set off on my own to problem solve.
    </blockquote>
</div>

<div class="col-md-3 col-md-offset-2">
    <div class="twitter">
        <a href="https://twitter.com/SDegrote" target="_blank"> <img src="/assets/styles/images/socialmedia_twitter.png"></a>

    </div>
</div>

<div class="col-md-3">
    <div class="github">
        <a href="https://github.com/skylerdegrote?tab=repositories" target="_blank"><img src="/assets/styles/images/socialmedia_github.png"></a>
    </div>
</div>

<div class="col-md-3">
    <div class="linkedin">
        <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank"> <img src="/assets/styles/images/socialmedia_linkedin.png"></a>

    </div>
</div>



<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/skylerdegrote" data-format="inline" data-related="false"></script>