<div class="quotebox">
    <blockquote>
    My name is Skyler DeGrote and I am a dedicated person with the passion to keep a project going until it's finished.
    I've written and published two books while going to college full time, having graduated with cum laude, so I would also say
    I have the ability to work on multiple projects at once and still give my full attention to each.
    I am a hard working, detail oriented person, often going above and beyond the requirements.
    I love collaboration and working with others, but also have the mind set to set off on my own to problem solve.
    </blockquote>
</div>

<div class="col-md-3 col-md-offset-2">
    <div class="twitter">
    <a href="https://twitter.com/SDegrote" target="_blank"> <img src="/assets/styles/images/socialmedia_twitter.png"></a>

    </div>
</div>

<div class="col-md-3">
    <div class="github">
    <a href="https://github.com/skylerdegrote?tab=repositories" target="_blank"><img src="/assets/styles/images/socialmedia_github.png"></a>
    </div>
</div>

<div class="col-md-3">
    <div class="linkedin">
        <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank"> <img src="/assets/styles/images/socialmedia_linkedin.png"></a>

    </div>
</div>

