<div class="quotebox">
    <h1>
        this is where my random quote of the day is going to go
    </h1>
</div>

<div class="col-md-4">

    <a href="#projects/#resumeProject">
    <div class="resume">
        <h3>Final Resume Challenge</h3>
        <img src="/assets/styles/images/image-placeholder.jpg">
    </div>
    </a>
</div>

<div class="col-md-4">
    <a href="#projects/#carouselProject">

    <div class="carousel">
        <h3>Carousel</h3>
        <img src="/assets/styles/images/image-placeholder.jpg">
    </div>
        </a>
</div>


<div class="col-md-4">
    <a href="#projects/#fruitProject">

        <div class="fruit">
            <h3>Fruit</h3>
            <img src="/assets/styles/images/image-placeholder.jpg">
        </div>
    </a>
</div>

