<!--<div class="quotebox">-->
    <!--<h1>-->
        <!--this is where my random quote of the day is going to go-->
    <!--</h1>-->
<!--</div>-->



<!--<div class="resumeOverview"></div>-->
<!--<div class="carouselOverview"></div>-->
<!--<div class="fruitOverview"></div>-->


<!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->

    <!--&lt;!&ndash;<a href="#projects/#resumeProject">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="resume">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>Final Resume Challenge</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#projects/#carouselProject">&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="carousel">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>Carousel</h3>&ndash;&gt;-->
       <!--&lt;!&ndash;&lt;!&ndash;<ng-hover></ng-hover>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<img ng-show="hi" src="/assets/styles/images/carousel-project-crop.jpg">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<div ng-show="myValue" class="ng-hide"><img src="/assets/styles/images/carousel-project-crop.jpg"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->



<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#projects/#fruitProject">&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="fruit">&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>Fruit</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<img src="/assets/styles/images/fruit-project-crop.png">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<div class="quotebox">
    <h1>
        this is where my random quote of the day is going to go
    </h1>
</div>

<div class="col-md-4">

    <a href="#projects/#resumeProject">
        <div class="resume">
            <h3>Final Resume Challenge</h3>
            <img src="/assets/styles/images/image-placeholder.jpg">
        </div>
    </a>
</div>

<div class="col-md-4">
    <a href="#projects/#carouselProject">

        <div class="carousel">
            <h3>Carousel</h3>
            <img src="/assets/styles/images/image-placeholder.jpg">
        </div>
    </a>
</div>


<div class="col-md-4">
    <a href="#projects/#fruitProject">

        <div class="fruit">
            <h3>Fruit</h3>
            <img src="/assets/styles/images/image-placeholder.jpg">
        </div>
    </a>
</div>

