<!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="resumeProject">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;<div class="carouselProject">Carousel</div>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;<div class="carouselProject">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->




<!--&lt;!&ndash;<div class="fruitProject"></div>&ndash;&gt;-->


<!--<div ng-controller="ProjectsController">-->
    <!--<div id="resumeProject">-->

    <!--hi-->

    <!--</div>-->



    <!--<div id="carouselProject">-->
        <!--hi-->

    <!--</div>-->
    <!--<div id="fruitProject">-->

        <!--hi-->
    <!--</div>-->
<!--</div>-->
<div id="resumeProject" class="quotebox">Resume</div>


<div id="carouselProject" class="quotebox">Carousel</div>


<div id="fruitProject" class="quotebox">Fruit</div>